# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Archivos multimedia
media/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log