# Entorno virtual
venv/
*.venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Archivos multimedia (subidos por usuarios)
media/

# Variables de entorno
.env
.env.local
.env.production
.env.test

# Archivos estáticos generados
staticfiles/
static/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Compilados / cache
*.egg-info/
*.egg
*.manifest
*.spec

# IDE / editor
.vscode/
.idea/
