asgiref==3.10.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cloudinary==1.44.1
cryptography==46.0.6
dj-database-url==3.0.1
Django==5.2.7
django-allauth==65.15.1
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.11
mercadopago==2.3.0
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.12.1
python-dotenv==1.0.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
sentry-sdk==2.22.0
